html {
  background-color: hsl(212, 45%, 89%);
}

main {
  width: 100%;
  min-height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 20%;
  align-items: center;
  padding: 15px;
}

.image-qr-code {
  width: 100%;
}

.container {
  text-align: center;
}

.container h1 {
  color: hsl(218, 44%, 22%);
}

.container p {
  font-size: 15px;
  color: hsl(220, 15%, 55%)
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}