html {
  background-color: hsl(212, 45%, 89%);
}

main {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
  transform: translate(-10px, -10px);
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 300px;
  height: 470px;
  align-items: center;
  padding: 15px;
  border-radius: 20px;
}

.image-qr-code {
  width: 100%;
  border-radius: 10px;
}

.container {
  text-align: center;
}

.container h1 {
  color: hsl(218, 44%, 22%);
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-left: 1em;
  padding-right: 1em;
}

.container p {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  color: hsl(220, 15%, 55%);
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}